import csv
with open('MAX ipm.csv', newline='') as File:
	reader = csv.reader(File)
	for row in reader:
		print(row)
fileout = open('THIS IS A TEST.csv', 'w')
loc = "MAX"
year = "2015"
#months = ['10', '12']
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

m = """
Ant	4	0	0	2	0	0	0	1	3	0	0	0
Ant, Flying	3	0	0	1	0	0	1	4	0	2	0	7
Beetle, Asian 	0	0	0	0	0	0	0	0	0	0	0	0
Beetle, Cabinet	0	0	0	0	0	2	0	0	0	0	0	0
Beetle, Carpet 	0	0	0	0	1	0	2	1	0	0	0	0
Beetle, Cigarette 	0	0	0	0	0	0	0	0	0	0	0	0
Beetle, Click	0	0	0	0	0	1	0	0	0	0	0	0
Beetle, Drugstore	0	0	0	0	0	4	0	0	0	0	0	0
Beetle, Furniture	0	0	0	0	0	0	0	0	0	2	0	0
Beetle, Ground 	0	0	0	0	0	0	0	0	0	0	0	3
Beetle, Hide	0	0	0	0	2	4	0	2	2	0	5	3
Beetle, Odd	2	0	0	1	2	2	0	0	0	2	0	0
Beetle, Powder post	0	0	0	0	0	0	0	0	0	0	0	0
Beetle, Rove	0	0	0	0	0	0	0	0	0	1	0	0
Beetle, Spider	0	0	0	1	0	0	0	4	3	0	1	4
Beetle, Unid.	0	0	0	0	1	0	0	0	0	0	0	1
Beetle, Weevil	2	0	0	0	0	0	0	0	1	1	0	0
Book Louse	3	0	2	1	3	2	3	2	1	6	14	1
Centipede	0	0	0	0	0	3	0	0	0	0	0	1
Cockroach, American	1	0	0	1	0	0	0	0	0	2	3	1
Cockroach, Oriental	0	0	0	0	1	1	1	0	0	0	0	0
Cockroach, German	0	0	0	0	0	0	0	1	3	0	1	2
Cricket	0	0	0	0	0	0	0	0	0	0	1	0
Damsel Bug	0	0	1	4	3	0	0	0	0	1	0	4
Fly, var.	1	0	1	2	0	1	0	6	1	1	1	1
Fly, Fruit	1	0	3	0	5	4	1	4	0	2	3	1
Gnat	3	0	1	4	2	2	3	3	3	1	4	2
Leafhopper	0	0	0	0	0	0	0	0	0	1	1	0
Millipede	0	0	0	0	0	2	0	0	0	0	0	0
Minute Pirate Bug	0	0	3	0	2	0	0	1	0	3	2	0
Mite, Predatory	5	0	0	3	1	7	5	11	4	4	6	0
Mite, Var.	1	0	1	1	1	3	0	2	1	0	2	1
Mosquito	0	0	0	0	0	0	0	3	0	1	0	0
Moth, Clothes	0	0	0	0	2	4	0	0	0	0	1	0
Moth, var.	1	0	3	0	8	1	1	2	1	1	2	1
Noseeum	2	0	0	0	0	0	1	0	0	0	1	0
Pill Bug/Sow Bug	0	0	0	0	0	0	0	0	0	1	0	0
Silverfish	4	0	0	1	3	3	2	2	0	3	2	5
Spider	2	0	2	1	0	3	2	4	5	6	1	3
Spring Tail	7	0	9	11	2	2	1	11	7	7	6	3
Termite	0	0	0	0	0	7	0	0	0	0	0	5
Wasp, var.	0	0	0	0	0	1	1	0	0	0	1	1
Other	1	0	0	0	0	0	0	0	0	0	0	0
"""

mat =  [l.split('\t') for l in m.split('\n') if len(l) > 0]

mt = list(map(list, zip(*mat)))
labels = mt[0]
mt.pop(0)

for i, l in enumerate(mt):
			month = months[i]
			x = ("\n".join(["	".join([loc, label, year, month, count]) for label, count in zip(labels, l)]))
			print( x, file = fileout)
			#print '\n'.join("\t".join(zip(labels, l)))

